@font-face {
  font-family: Over the Rainbow;
  src: url(OvertheRainbow.ttf);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
}

body nav {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2F2F2F;
  font-family: 'Trebuchet MS';
  font-size: 15px;
}

nav .text-container {
  margin-left: 20px;
  font-family: Over the Rainbow;
  font-size: 25px;
  color: white;
}

.nav-logo{
  margin-left: 10px;
  object-fit: cover;
  height: 70px;
  width: 120px;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  padding: 30px;
}

.nav-list li a {
  text-decoration: none;
  color: white;
}

.nav-list li a:hover {
  text-decoration: underline;
  color: black;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.image-row {
  display: flex;
  margin: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.image-row a {
  display: flex;
  width: auto;
}

.image-banner {
  display: flex;
  align-self: center;
  margin: 10px;
  border-radius: 2%;
  height: 300px;
  width: auto;
}

.image-banner:hover {
  filter: brightness(50%);
}

.catalog-container {
  width: 100%;
}

.catalog-head {
  padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Trebuchet MS';
  font-size: 30px;
}

.grid {
  padding: 50px;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 270px;

}

.grid-element {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3%;
  width: 230px;
  background-color: #404040;
}

.grid-element:hover {
  filter: brightness(80%);
}

.grid-element a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-element-image {
  justify-content: center;
  width: 200px;
  height: 230px;
  border-radius: 3%;
  padding: 10px;
}

.grid-element-bottom {
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  padding-bottom: 25px;
  color: white;
  font-family: 'Trebuchet MS';
  text-decoration: none;
  font-size: 20px;
}

.price-block {
/*  padding: 5px;*/
  font-size: 30px;
}

footer {
  margin-top: 30px;
  align-items: center;
  text-align: center;
  display: block;
  width: 100%;
  background-color: black;
  font-family: 'Trebuchet MS';
  font-size: 15px;
}

footer p {
  color: white;
}